/* Media Queries Mobile  */
@media (max-width: 767px) {

  body * {
   box-sizing: border-box;
  }
  /*------- Header page ------------*/
  header {
    padding-left: 0px;
  }
  .logo-nav {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 27px;
  }

  #logo {
    width: 100px;
    margin-left: 150px;
   }

   
nav a {
  border-bottom: 4px solid #f2f2f2;
}
  .sub_nav {
    width: 100%;
      }

  .sub_nav a {
    width: 50%;
    text-align: center;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 76px;
  }

  .sub_nav a:hover {
    border-bottom: 4px solid #0065fc;
    border-top: 3px solid transparent;
  }
/*------- Main part ------------*/
main {
  padding-left: 0px;
}


/* Search section */
main .search {
  padding-left: 20px;
}
main .search h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 21px;
  font-weight: bold;
}
  .search form {
    width: 400px;
    padding-top: 22px;
    padding-bottom: 20px;
}
  
  .search .map-color {
    height: 55px;
  }
  form>span .search-icon {
  display: flex;
    
    color: white;
    cursor: pointer;
    border-radius: 15px;
    margin-left: -15px;
    font-size: 13px;
    background-color: #0065fc;
    height: 55px;
    width: 55px;
  }

  form .btn-search {
    display: none;
  }

  

  form .fa-search {
    display: block;
  }
#icon {
  padding-bottom: 20px;
  padding-right:91px;
}
#typing-search  {
  font-size: 20px;
  padding-left: 14px;
    padding-right: 14px;
    width: 245px;
}

  .filter-list {
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 20px;
  }

  .filter-list .filter {
    height: 50px;
    border-radius: 50px;
    padding-right: 17px;
}

.filter-list .filter i {
  width: 50px;
  height: 50px;
}

  .search i {
    border-radius: 50px;
    height: 51px;
    width: 51px;
    
  }
  #icone-info {
    width: 25px;
    height: 25px;
  }
  .result-info p {
    font-size: 20px;
  }
  
#apartment-info {
  flex-direction: column;
}


 .marseille-apartment-list {
  flex-direction: column;
  background-color: white;
  padding-left: 15px;
  width: 75%;
}



.most-p .card {
  height: 70%;
  max-width: 80%;
 
}

.most-popular  img {
  width: 100%;
}
.most-popular {
  order: -1;
  width: 100%;
  border-radius: 0px;
  padding-right: 0px;
  
  }
.most-popular h2 {
  font-size: 23px;
  padding-left: 13px;
}
.most-popular .card img{
  max-width: 41%;
}
  #apartment-info .marseille-hebergement {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
  .marseille-hebergement h2 {
    font-size: 23px;
    padding-top: 5px;
    padding-left: 8px;
  }
  .marseille-hebergement .card {
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  #activities-section{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #activities-section h2 {
    padding-left: 27px;
  }
 
  .activitie-cards {
    flex-direction: column;
    
    margin-left: 20px;
  }
.activitie-cards .card {
  width: 335%;
  height: 200px;
  margin-bottom: 25px;
}
/* .activitie-cards > div {
  width: 33%;
  height: 100%;
  padding-right: 22px;
  padding-left: 10px;
  margin-left: -102px;
} */
 div .activites {
   display: flex;
  flex-direction: column;
 
 
  
}
div .activites2 {
 
  display: flex;
  flex-direction: column;
  
}

.activites .img1 img, .img2 img, .img3 img, .img5 img, .img6 img {
  max-width: 100%;
  height: 150px;
}
.activites .img4 img {
  max-width: 100%;
  height: 150px;
}


   
footer {
  flex-direction: column;
  margin: 0;
}
footer h4 {
  margin-bottom: 0px;
  font-weight:900;
  font-size: larger;
}
footer a {
  font-size: 17px;
  font-weight:500;
}
footer #about{
  width: 237px;
  line-height: 33px;
} 
footer .hebergements-footer{
  width: 237px;
  line-height: 33px;
}
footer #assistance {
  line-height: 33px;
}


}