/* Media Queries Mobile  */
@media (max-width: 767px) {

  body {
    margin-left:0px;
  }
  /*------- Header page ------------*/
  header {
    padding-left: 0px;
  }
  .logo-nav {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 27px;
  }

  #logo {
    width: 100px;
   
    
  }
nav a {
  border-bottom: 4px solid #f2f2f2;
}
  .sub_nav {
    width: 100%;
      }

  .sub_nav a {
    width: 50%;
    text-align: center;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 76px;
  }

  .sub_nav a:hover {
    border-bottom: 4px solid #0065fc;
    border-top: 3px solid transparent;
  }
/*------- Main part ------------*/
main {
  padding-left: 0px;
}

main .search {
  margin-left: 20px;
}
/* Search section */

main .search h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-size: 21px;
  font-weight: bold;
}
  .search form {
    width: 400px;
  }
  .search .map-color {
    height: 55px;
  }
  form>span .search-icon {
  display: flex;
    
    color: white;
    cursor: pointer;
    border-radius: 15px;
    margin-left: -15px;
    font-size: 13px;
    background-color: #0065fc;
    height: 55px;
    width: 50px;
  }

  form .btn-search {
    display: none;
  }

  

  form .fa-search {
    display: block;
  }
#icon {
  padding-bottom: 20px;
  width: 20px;
}
#typing-search  {
  font-size: 20px;
  padding-left: 14px;
    padding-right: 14px;
    width: 245px;
}
  .filter-list {
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 20px;
  }

  .filter-list span {
    padding-left: 0px;
  }

  .search i {
    border-radius: 50px;
  }

#apartment-info {
  flex-direction: column;
}
 .marseille-apartment-list {
  flex-direction: column;
}

.activitie-cards {
  flex-direction: column;
}

.most-popular {
  order: -1;
  order: -1;
    width: 100%;
    border-radius: 0px;
    margin-left: 0px;
}
  

  #apartment-info .marseille-hebergement {
    display: block;
    width: 100%;
  }
  .marseille-hebergement .card {
    width: 100%;
  }

 div .activites2 {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
 }
 div .activites {
   display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.activites .img1 img {
  max-width: 100%;
  height: 250px;
}
div .activites2 .img {
  width: 100%;
}
  div .card {
    width: 100%;
  }
  
footer {
  flex-direction: column;
  width: 93%;
  padding: 10px;
    padding-left: 33px;
}
footer h4 {
  margin-bottom: 0px;
  font-weight:900;
  font-size: larger;
}
footer a {
  font-size: 17px;
  font-weight:500;
}
footer #about{
  width: 237px;
  line-height: 33px;
} 
footer .hebergements-footer{
  width: 237px;
  line-height: 33px;
}
footer #assistance {
  line-height: 33px;
}
}