@media (min-width: 768px) and (max-width: 991px) {
  #apartment-info .marseille-hebergement {
    width: 57%;  
  }
.info h3 {
    font-size: 15px;
}
  .most-popular {
      width: 40%;
      justify-content: space-between;
  }

  .marseille-apartment-list {
      display: flex;
      flex-wrap: wrap;
  }

  .marseille-apartment-list article {
      width: 50%;
      margin-right: -28px;
}
.marseille-hebergement h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
}
.title-icon {
    padding-top: 0px;
    margin-top: -15px;
}
div .most-p {
    padding-bottom: 100px;
}
div .most-p article {
    padding-bottom: 20px;
    margin-top: 20px;
}
.activitie-cards div {
    width:47%;
    
}

div .imgactivites {
    width: 100%;
    }
    .activitie-cards .card {
        margin-bottom: 47px;
    }

    .activites2 .img2 img {
        height: 130px;
    }
    .activites2  .img3 img {
        height: 130px;
    }
    .activites2  .img5 img {
        height: 130px;
    }

    .activites2  .img6 img {
        height: 130px;
    }
}